.update-profile {
  &__dialog-content {
    &__form {
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: start;

      gap: 10px;
      &__gender {
        display: flex;
      }
    }
  }
}
