@use "../../../styles/variable.scss" as variable;
.product-detail-body {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;

  &__left {
    display: flex;
    gap: 1rem;

    &-wrap-btn {
      margin-bottom: 0.5rem;
    }

    & .product-detail-body__thumbs {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .product-detail-body__thumb {
        width: 60px;
        height: 60px;
        border: 1px solid #ddd;
        border-radius: 6px;
        overflow: hidden;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    & .product-detail-body__preview {
      flex: 1;
      max-width: 540px;

      img {
        width: 100%;
        border-radius: 8px;
      }
    }
  }

  &__right {
    flex: 1;
    &__rate {
      border-bottom: 1px solid variable.$gray-light-color;
      margin: 20px 0px 0px;
      padding: 0px 0px 12px;
      display: flex;
      .product-detail-body__right__rate-wrap-star {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        span {
          font-size: variable.$font-size-sm;
          color: variable.$gray-color-52;
        }
      }

      .product-detail-body__right__rate-wrap-share {
        display: flex;
        align-items: center;
        &-icon {
          color: blue;
          width: 20px;
        }
        span {
          font-size: variable.$font-size-sm;
          color: variable.$blue-color;
        }
      }
    }

    &__title {
      font-size: variable.$font-size-2-5xl;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }

    &__price {
      margin-top: 1rem;
      &--discount {
        font-size: variable.$font-size-md;
        color: variable.$neutral-gray;
      }
      &--nol {
        font-size: variable.$font-size-2-5xl;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        span {
          text-align: center;
          border-radius: 9999px;
          width: fit-content;
          font-weight: 700;
          text-transform: uppercase;
          color: variable.$white-color;

          font-size: variable.$font-size-md;
          padding: 0.25rem 0.5rem;
          background-color: variable.$blue-color;
        }
      }
    }

    &__delivery {
      display: flex;
      gap: 0.5rem;
      margin: 12px 0px 0px;
      img {
        width: 18px;
        height: 18px;
      }
      p {
        font-size: 14px;
        color: black;
      }
    }

    &__discount {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    &__colors {
      p {
        margin-bottom: 0.5rem;
      }
      span {
        color: variable.$gray-color-52;
      }
    }

    &__sizes {
      margin-bottom: 1rem;
      margin-top: 1rem;

      span {
        color: variable.$gray-color-52;
      }

      &__colors-list {
        display: flex;
        gap: 10px;
      }

      &-list {
        display: flex;
        gap: 0.625rem;
        .size-btn {
          background-color: #d1d1d1;
        }
      }
    }
    &__color-list {
      display: flex;
      gap: 1rem;
    }

    &__actions {
      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;

      .qty-control {
        width: 116px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid #ccc;
        background-color: variable.$gray-color-52;
        opacity: 50%;
        border-radius: 4px;
        height: 100%;
        border-radius: 9999px;
        padding: 0px 10px;
        position: absolute;
        z-index: 1;

        span {
          padding: 0 1rem;
          color: variable.$white-color;
        }
      }
    }
  }
}
