@use "../../../styles/variable.scss" as *;

.product-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__split-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    h1 {
      font-size: $font-size-2-5xl;
    }
  }
}
