@use "../../../styles//variable.scss" as variable;

.quick-add-to-cart {
  position: absolute;
  margin: 8px;
  padding: 10px 20px;
  bottom: 5px;
  border-radius: 8px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(35px);
  text-align: center;
  &--text {
    color: black;
  }
  &__wrap-size {
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    .quick-add-to-cart__wrap-size--button {
      color: black;
      background-color: #fff;
      min-width: 48px;
      .quick-add-to-cart__wrap-size--button-active {
      }
    }
    .quick-add-to-cart__wrap-size--button:hover {
      background-color: black;
      color: #fff;
    }
  }
}
