@use "../../../styles/variable.scss" as *;

.collection-sidebar {
  width: 294px !important;
  min-width: 294px;
  &__title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $neutral-gray;
    margin-bottom: 12px;
    &--result {
      color: $text-tertiary;
    }
  }
  &--color {
    color: $neutral-gray;
  }

  &--name:hover {
    text-decoration: underline solid $neutral-gray;
  }

  &__radio--color {
    color: $text-tertiary;
  }

  &__filter-size {
    // &--btn:hover {
    //   background-color: $blue-color;
    //   color: $white-color;
    // }
  }

  &__color {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    &--name {
      font-size: $font-size-xs;
      color: $text-tertiary;
    }
  }
}
