@use "../../../../../../styles/variable.scss" as variable;

.product-preview {
  margin-top: 10px;
  gap: 10px;

  .wrap-item {
    display: flex;
    overflow-x: auto;
    gap: 20px;

    .item {
      flex: 0 0 calc((100% - (20px * 4)) / 5);
      position: relative;

      &--small--text {
        position: absolute;
        font-size: variable.$font-size-2xs;
        top: 10px;
        right: 10px;
        padding: 6px 8px;
      }

      a img {
        border-radius: 8px;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
