.banner {
  width: 100%;
  &-wrapper {
    .banner-list {
      width: 100%;
      margin: 0;
      padding: 0;

      img {
        width: 100vw;
        height: auto;

        object-fit: cover;
      }
    }
  }
}
