@use "../../../../../../styles/variable.scss" as variable;

.product-preview {
  margin-top: 10px;
  gap: 10px;

  .wrap-item {
    display: flex;
    overflow-x: auto;
    gap: 20px;

    .item {
      flex: 0 0 calc((100% - (20px * 4)) / 5);
      a img {
        border-radius: 8px;
        width: 100%;
        object-fit: cover;
      }

      .wrap-color {
        display: flex;
        justify-content: start;
        gap: 2px;
        margin-top: 12px;
        margin-bottom: 8px;
        button {
          flex: 0 0 calc(100% / 8);
          height: 22px;
          padding: 0;
          border: none;
          background-image: url("https://n7media.coolmate.me/uploads/June2025/quan-bb-trunk-pc-logo-cm15-den.jpg?aio=w-160&quot");
          cursor: pointer;
          border-radius: 9999;
        }
      }

      p {
        margin-bottom: 8px;
      }

      .price {
        display: flex;
        gap: 4px;

        .discount-price {
          color: variable.$discount-price-color;
          text-decoration: line-through;
        }
      }
    }
  }
}
